# GNU Emacs temporary files

ChangeLog
\#*
.\#*
TAGS
*~
vendor
composer.lock
import/solrmarc.log
vendor/.git
.project
.buildpath
/nbproject
messages.log
messages-front.log
cache
log
.settings
git-3way-merge.local.cfg
public/google8cc75a9b11ae3da8.html
public/robots.txt
local/beta_config_merge.sh
public/.htaccess
messages-beta.log
conf

